body {
  font-family: Microsoft JhengHei;
}

#banner {
  background-image: url(photos/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  margin-top: 3.5rem;
}

.title {
  color: rgb(86, 110, 21);
  font-weight: bold;
}
